
<div class="container-fluid">
    <app-menu-categorias [categorias]="$categoriasMenu | async" (categoriaClicked)="seleccionarCategoria($event)"></app-menu-categorias>
    <app-lista-productos [carrito]="false" (agregarProducto)="servicioCarrito.agregarProducto($event)" *ngIf="categoriaSeleccionada" [productos]="categoriaSeleccionada.products"></app-lista-productos>
</div>




