<div class="layout-sidebar" [ngClass]="{'layout-sidebar-active':app.mobileMenuActive}" style="overflow: scroll">
        <ul class="layout-menu" (click)="app.hideMobileMenu($event)">
                <p-panelMenu [model]="items" ></p-panelMenu>
        </ul>
</div>


