<div class="layout-topbar">
  <div class="layout-topbar-content">
    <a href="#" id="menu-btn" class="menu-btn" (click)="app.onMobileMenuButton($event)">
      <i class="fa fa-bars" [routerLink]="['/rappi']">
      </i>
    </a>
    <img src="assets/logo.png" [routerLink]="['/rappi']" class="topbar-logo">
    <img [routerLink]="['/carrito']" class="topbar-link" src="assets/cart.png" alt="cart">

  </div>
</div>
