
<div class="card">
<p-dataView #dv [value]="productos" [paginator]="true" [rows]="8" [sortField]="sortKey" layout="grid" [totalRecords]="productos.length"
    [paginatorPosition]="'both'" [filterBy]="filterField">
        <p-header>

                <div class="ui-helper-clearfix">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-4">
                                    <p-dropdown  [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Ordenar por"
                                    (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
                            </div>
                            <div class="ui-g-12 ui-md-4 filter-container">
                                    <p-dropdown [options]="sortOptions" [(ngModel)]="filterField" placeholder="Filtrar por"
                                    (onChange)="onFilterChange($event)" [autoWidth]="false" 
                                    [style]="{'min-width':'15em' }"></p-dropdown>
                            </div>
                            <div class="ui-g-12 ui-md-4 filter-container">
                                <div class="ui-inputgroup" style="position:relative">
                                    <input *ngIf="filterField" type="search" pInputText placeholder="Valor filtro" 
                                    (keyup)="dv.filter($event.target.value)">
                                </div>
                            </div>
                        </div>
                        <div class="ui-g">
                                <div class="ui-g-12 ui-md-12" style="text-align:right">
                                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                                </div>
                        </div>
                    </div>
        </p-header>
        <p-footer>
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </p-footer>
        <ng-template let-producto pTemplate="listItem">
            <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                <div class="ui-g-12 ui-md-3" style="text-align:center">
                    <img src="assets/icon.png">
                </div>
                <div class="ui-g-12 ui-md-8 car-details">
                    <div class="ui-g">
                        <div class="ui-g-2 ui-sm-6">Nombre: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{producto.name}}</b></div>
    
                        <div class="ui-g-2 ui-sm-6">Precio: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{producto.price | currency}}</b></div>
    
                        <div class="ui-g-2 ui-sm-6">Disponible: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{producto.available ? 'Si': 'No'}}</b></div>

                        <div class="ui-g-2 ui-sm-6">Stock: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{producto.quantity}}</b></div>

                        <div *ngIf="carrito" class="ui-g-2 ui-sm-6">Total items: </div>
                        <div *ngIf="carrito" class="ui-g-10 ui-sm-6"><b>{{producto.numberITems}}</b></div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-1 search-icon">
                    <button *ngIf="!carrito" pButton type="button" icon="fa fa-fw fa-cart-plus" (click)="seleccionarProducto(producto)">
                    </button>
                    <button pButton *ngIf="carrito" type="button" icon="fa fa-fw fa-trash" (click)="onEliminarProducto(producto)">
                    </button>
                </div>
            </div>
        </ng-template>
        <ng-template let-producto pTemplate="gridItem">
            <div style="padding:.5em" class="ui-g-12 ui-md-3">
                <p-panel [header]="producto.name" [style]="{'text-align':'center'}">
                    <img src="assets/icon.png" width="60">
                    <div class="car-detail">{{producto.price | currency}} - {{producto.available ? 'Disponible': 'No disponible' }}</div>
                    
                    <div class="ui-g-2 ui-sm-6">Stock: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{producto.quantity}}</b></div>

                    <hr class="ui-widget-content" style="border-top:0">
                        <button pButton *ngIf="!carrito" type="button" icon="fa fa-cart-plus" (click)="seleccionarProducto(producto)">
                        </button>

                        <button pButton *ngIf="carrito" type="button" icon="fa fa-fw fa-trash" (click)="onEliminarProducto(producto)">
                            </button>
                </p-panel>
            </div>
        </ng-template>  
    </p-dataView>
                            
</div>


<p-dialog header="Detalles producto" [(visible)]="displayDialog" [responsive]="true" 
 [modal]="true" width="225" (onAfterHide)="onDialogHide()"
 [width]="350" [style]="{ 'background-color': 'white' }" [minWidth]="200" [minY]="70" maximizable="true" [baseZIndex]="10000">
    <div class="card" *ngIf="productoSeleccionado">
        <div class="ui-g-12" style="text-align:center">
            <img src="assets/icon.png">
        </div>
        <div class="ui-g-4">Nombre: </div>
        <div class="ui-g-8">{{productoSeleccionado.name}}</div>

        <div class="ui-g-4">Precio: </div>
        <div class="ui-g-8">{{productoSeleccionado.price | currency}}</div>

        <div class="ui-g-4">Stock: </div>
        <div class="ui-g-8">{{productoSeleccionado.quantity}}</div>

        <div class="ui-g-4">Disponible: </div>
        <div class="ui-g-8">{{productoSeleccionado.available}}</div>

        <div class="ui-g-4">Cantidad: </div>
        <div class="ui-g-8"><input [(ngModel)]="productoSeleccionado.numberITems" type="number" id="cantidad" min="1"></div>
    </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Agregar al carrito" (click)="onAgregarProducto(productoSeleccionado)"></button>
        <button type="button" pButton icon="pi pi-close" label="Cancelar" class="ui-button-secondary" (click)="displayDialog=false"></button>
    </p-footer>
</p-dialog>
